body {
    padding: 25px;
    background-color: #333333;
    color: #e8e6e3;
    font-size: 25px;
    max-width: 800px;
    margin: auto;
    font-size: larger;
}

.title {
    text-align: center;
    padding-top: 16px;
    font-weight: bold;
    font-size:xx-large;
}

.text {
    font-weight: normal;
    font-size:large;
}

.logo {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.links {
    text-align: center;
    margin: 16px;
    margin-right: 24px;
    color: #71ac48;
    font-size: xx-large;
}

.section {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}

.googleplay {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}