@font-face {
    font-family: 'fightt';
    src: url('~@/assets/fonts/FIGHTT__.ttf') format('truetype');
}

@font-face {
    font-family: 'agency';
    src: url('~@/assets/fonts/AGENCYB.TTF') format('truetype');
}